@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<h1 style="background-color:black; color:white">
    <br /><br /><br /><p style="text-align:center" class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About <i class="fa fa-chevron-right"></i></span></p>
</h1>



<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-2 w-100 mr-md-2" style="background-image: url(images/bg_6.jpg);"></div>
                <div class="img img-2 w-100 ml-md-2" style="background-image: url(images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">This is our secrets</span>
                    <h2 class="mb-4">Perfect Ingredients</h2>
                    <p>
                        Craving some delicious food? Maybe you’re in the mood for a juicy steak? No matter what kind of meal you have in mind, The Food O'clock Restaurant is ready to prepare it for you.
                        From burgers to karahi, fish to steaks, you’ll find all kinds of hearty meals prepared fresh at The Food O'clock Restaurant. Our diner also has a full bakery with delicious baked goods and other treats, including our famous lavacake. Sounds delicious, right?

                        We’re here to serve you the best food around...
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
    <div class="container py-5">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h2>We Make Delicious &amp; Nutritious Food</h2>
                <a href="@Url.Action("DisplayTables","Home")" class="btn btn-white btn-outline-white">Book A Table Now</a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.onload = function () { window.scrollBy(0, 180); }
</script>
