@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<section class="hero-wrap"  >
    <div class="home-slider owl-carousel js-fullheight" >
        <div class="slider-item js-fullheight" style="background-image:url(../Content/Customer/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">Food O'Clock Restaurant</span>
                            <h1>Reserve Your Table</h1>
                            <span class="subheading-2">hygienic environment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image:url(../Content/Customer/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">Food O'clock Restaurant</span>
                            <h1>Pre-Order Your Meal</h1>
                            <span class="subheading-2 sub">Best Quality Food</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
              
            </div>
            <div class="col-sm-8 wrap-about py-5 ftco-animate img" style="background-image: url(../Content/Customer/images/about.jpg);">
                <div class="row pb-5 pb-md-0">
                    <div class="col-md-12 col-lg-7">
                        <div class="heading-section mt-5 mb-4">
                            <div class="pl-lg-3 ml-md-5">
                                <span class="subheading">About</span>
                                <h2 class="mb-4">Welcome to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Food O'clock</h2>
                            </div>
                        </div>
                        <div class="pl-lg-3 ml-md-5">
                            <p>
                                We announce with great pleasure that we have just opened a new Resturant near your street namely Food O'clock. We have different kinds of burgers and desserts that will surely suit your taste, and we offer a very affordable price.
                                I hope you can drop by to our resturant so that you can try our very yummy burgers and desserts. Our store is open until midnight.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(../Content/Customer/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span>Now Booking</span>
                <h2>Table &amp; Pre-Order Meal </h2>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-2 w-100 mr-md-2" style="background-image: url(../Content/Customer/images/bg_6.jpg);"></div>
                <div class="img img-2 w-100 ml-md-2" style="background-image: url(../Content/Customer/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">This is our secrets</span>
                    <h2 class="mb-4">Perfect Ingredients</h2>
                    <p>
                        Craving some delicious food? Maybe you’re in the mood for a juicy steak? No matter what kind of meal you have in mind, The Food O'clock Restaurant is ready to prepare it for you.
                        From burgers to karahi, fish to steaks, you’ll find all kinds of hearty meals prepared fresh at The Food O'clock Restaurant. Our diner also has a full bakery with delicious baked goods and other treats, including our famous lavacake. Sounds delicious, right?

                        We’re here to serve you the best food around...
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
    <div class="container py-5">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h2>We Make Delicious &amp; Nutritious Food</h2>
                <a href="@Url.Action("DisplayTables","Home")" class="btn btn-white btn-outline-white">Book A Table Now</a>
            </div>
        </div>
    </div>
</section>

