@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}




<h1 style="background-color:black; color:white">
    <br /><br /><br /><p style="text-align:center" class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Admin Login <i class="fa fa-chevron-right"></i></span></p>
</h1>



<br />




<br />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))

{

    <table class="  table-active col-sm-12 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary ">

        <tr><td colspan="2" style="color:white; text-align: center; font-size:xx-large"><b>Login </b> <hr /></td></tr>

        <tr><td style="color:black">Email:</td><td><input name="ADMIN_EMAIL" type="text" /></td></tr>
        <tr><td style="color:black">Password:</td><td><input name="ADMIN_PASSWORD" type="password" /></td></tr>
        <tr><td style="color: white; font-size:large" colspan="2">@ViewBag.Message <hr /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Login" class="btn  btn-dark btn-block " /></td></tr>

    </table>



}
<br />

<script type="text/javascript">
    window.onload = function () { window.scrollBy(0, 200); }
</script>
